{% load staticfiles %}
<!Doctype html>
<html>
    <head>
       <title>Quotes</title>
       <link rel="stylesheet" href="{% static 'coolapp/css/styles.css' %}">
       <script src="https://use.typekit.net/iii7xtz.js"></script>
       <script>try{Typekit.load({ async: true });}catch(e){}</script>
    </head>
    <body>
      <div id="wrapper">
       <h2>Welcome, {{ loggedInUser }}!</h2><h3><a href="/quotes">Dashboard<a/> | <a href="/users/{{ request.session.id }}">Account<a/> | <a href="/all">All Users</a> | <a href= "/logout">Logout</a></h3>
      <div class="register">
        {% for quote in allQuotes %}
        <div class="quotes">
          <p>{{ quote.quote }}</p>
          <strong>- {{ quote.author }}</strong>
          <hr>
          <p>Posted by <a href="users/{{quote.user.id}}">{{ quote.user.first_name }}</a> on: {{ quote.created_at }} • <a href="/add_fav/{{ quote.id }}">Add to Favorites</a></p>
        </div>
        {%  endfor %}
      </div>

      <div class="login">
        <h1>My Favorite Quotes</h1>
        {% for fav in favQuotes %}
        <div class="fav_quotes">
          <p>{{ fav.quote.quote }}</p>
          <strong>- {{ fav.quote.author }} • <a href="/remove_fav/{{ fav.quote.id }}">Remove from Favorites</a></strong>
        </div>
        {% endfor %}
        <br>
        <form class="" action="/add_quote" method="post">
          {% csrf_token %}
          <input type="text" name="author" value="">
          <textarea name="quote" rows="8" cols="80"></textarea>
          <input type="submit" name="" value="Submit a Quote">
        </form>


      </div>
      </div>
    </body>
</html>
