{% load staticfiles %}
{% load fontawesome %}
<!Doctype html>
<html>
    <head>
       <title>Quotes</title>
       <link rel="stylesheet" href="{% static 'coolapp/css/styles.css' %}">
       <link rel="stylesheet" href="{% static 'coolapp/css/font-awesome.min.css' %}">
       <script src="https://use.typekit.net/iii7xtz.js"></script>
       <script>try{Typekit.load({ async: true });}catch(e){}</script>
       {% fontawesome_stylesheet %}
    </head>
    <body>
      <div id="wrapper">
       <h2>Welcome, {{ loggedInUser }}!</h2>
       <div class="menu">
         <h3><a href="/quotes">{% fontawesome_icon 'tachometer' color='#8c4bf3' %} Dashboard<a/> • <a href="/users/{{ request.session.id }}">{% fontawesome_icon 'cog' color='#8c4bf3' %} Account<a/> • <a href="/all">{% fontawesome_icon 'user' color='#8c4bf3' %}  Users</a> • <a href= "/logout">{% fontawesome_icon 'lock' color='#8c4bf3' %} Logout</a></h3>
       </div>
      <div class="register">
        <form class="" action="/add_quote" method="post">
          {% csrf_token %}
          <input type="text" name="author" value="">
          <textarea name="quote" rows="8" cols="80"></textarea>
          <input type="submit" name="" value="Submit a Quote">
        </form>
        {% for quote in allQuotes %}
        <div class="quotes">
          <p>{{ quote.quote }}</p>
          <strong>- {{ quote.author }}</strong>
          <hr>
          <p>Posted by <a href="users/{{quote.user.id}}">{{ quote.user.first_name }}</a> on: {{ quote.created_at }} <a href="/add_fav/{{ quote.id }}"><i class="fa fa-heart" aria-hidden="true" color='white'></i> Favorite</a></p>

        </div>
        {%  endfor %}
      </div>
      <div class="login">
        <h1>My Favorite Quotes</h1>
        {% for fav in favQuotes %}
        <div class="fav_quotes">
          <p>{{ fav.quote.quote }}</p>
          - {{ fav.quote.author }} • <a href="/remove_fav/{{ fav.quote.id }}"><i class="fa fa-heart" aria-hidden="true" color='white'></i> Remove</a>
        </div>
        {% endfor %}
        <br>
      </div>
      </div>
    </body>
</html>
