{% load staticfiles %}
{% load fontawesome %}
<!Doctype html>
<html>
    <head>
       <title>Users</title>
       <link rel="stylesheet" href="{% static 'coolapp/css/styles.css' %}">
       <script src="https://use.typekit.net/iii7xtz.js"></script>
       <script>try{Typekit.load({ async: true });}catch(e){}</script>
    </head>
    <body>
      <div id="wrapper">
        <h3><a href="/quotes">{% fontawesome_icon 'tachometer' color='#8c4bf3' %} Dashboard<a/> | <a href="/users/{{ request.session.id }}">{% fontawesome_icon 'cog' color='#8c4bf3' %} Account<a/> | <a href="/all">{% fontawesome_icon 'user' color='#8c4bf3' %}  Users</a> | <a href= "/logout">{% fontawesome_icon 'lock' color='#8c4bf3' %} Logout</a></h3>
        <div class="registration">
          <h1>Quote Contributors</h1>
          {% for user in allUsers %}
            <p><a href="/users/{{ user.id }}">{{ user.id }}. {{ user.first_name }} {{ user.last_name }}</a></p>
          {% endfor %}
        </div>
      </div>
    </body>
</html>
