{% load staticfiles %}
<!Doctype html>
<html>
    <head>
       <title>Users</title>
       <link rel="stylesheet" href="{% static 'coolapp/css/styles.css' %}">
       <script src="https://use.typekit.net/iii7xtz.js"></script>
       <script>try{Typekit.load({ async: true });}catch(e){}</script>
    </head>
    <body>
      <div id="wrapper">
        <h1>Success! Welcome, {{ loggedInUser }}!</h1> <h3><a href="/quotes">Dashboard<a/> | <a href="/users/{{ sessionID }}">Account<a/> | <a href= "/logout">Logout</a></h3>
        <h5>Tim has {{ quoteCount }} Posts</h5>
        {% for quote in allQuotes %}
        <div class="quotes">
          <p>{{ quote.quote }}</p>
          <strong>- {{ quote.author }}</strong>
          <hr>
          <p>Posted by <a href="users/{{quotePosterUserID}}">{{ quotePosterUserName }}</a> on: {{ quote.created_at }}</p>
        </div>
        {%  endfor %}
      </div>
    </body>
</html>
